In [33]:
import pandas as pd
import sqlalchemy as sa

connection_url = sa.URL.create(
    "mssql+pyodbc",
    username="BD_ML_SERVICE",
    password="S@besp&2024*",
    host="10.66.9.46",
    database="BD_ML",
    query={"driver": "ODBC Driver 17 for SQL Server"},
)
connection_url = connection_url
engine = sa.create_engine(connection_url)
cnn = engine.connect()

In [39]:
sql_command = ("SELECT Ordem, COD_MUNICIPIO FROM [LESTE_AD\\hcruz_novasp].[v_Hyslan_Valoracao] "
               f"WHERE TSE_OPERACAO_ZSCP = '284000' AND "
               f"[Feito?] IS NUll AND Contrato = '4600042975'")

df = pd.read_sql(sql_command, cnn)
df

         Ordem COD_MUNICIPIO
0   2409989893           546
1   2410399659           100
2   2410446473           100
3   2409584330           100
4   2409588716           100
5   2409631508           100
6   2409817236           100
7   2409936540           100
8   2409936863           100
9   2409939299           100
10  2409939699           100
11  2409941263           100

In [46]:
from tqdm import tqdm
import time
df_np= df.to_numpy()

for ordem, cod in tqdm(df_np):
    #print(f"OS: {ordem}, Município: {cod}")
    time.sleep(0.2)

# type(df_np)

100%|██████████| 12/12 [00:02<00:00,  4.96it/s]

In [51]:
import numpy as np
test = np.array([[1, 2]])
print(df_np)
len(test)

[['2409989893' '546']
 ['2410399659' '100']
 ['2410446473' '100']
 ['2409584330' '100']
 ['2409588716' '100']
 ['2409631508' '100']
 ['2409817236' '100']
 ['2409936540' '100']
 ['2409936863' '100']
 ['2409939299' '100']
 ['2409939699' '100']
 ['2409941263' '100']]

1